fieldset {
    border: solid #eee;
}

.active {
    display: block !important;
}

fieldset legend {
    width: 100%;
    text-align: center;
    /*font-weight: bold;*/
}

#lostItemFormLabels {
    display: none;
}


.nonActive {
    display: none;
}

.test-item {
    height: 20em;
    text-align: center;
    background: #a2d1e0;
}

.inactive {
    display: none;
}